<center><b>Su Turno M&oacute;vil - Pol&iacute;tica de Privacidad</b></center>

<p ><span>Esta pol&iacute;tica de privacidad establece c&oacute;mo TotalPack
Ltda. (“SuTurno M&oacute;vil”) usa y protege cualquier informaci&oacute;n que se entrega
cuando se usa este servicio.</span></p>

<p ><span>SuTurno M&oacute;vil est&aacute; comprometido a asegurar que la
privacidad de los usuarios sea protegida. Podr&iacute;amos solicitar que se provea
cierta informaci&oacute;n, la cual sea utilizada como identificaci&oacute;n al momento de
usar este servicio, asegurando que solo se utilizar&aacute; de acuerdo a esta
declaraci&oacute;n de privacidad.</span></p>

<p ><span>SuTurno M&oacute;vil se reserva el derecho de realizar
cambios a esta pol&iacute;tica a lo largo del tiempo actualizando esta p&aacute;gina. Es
responsabilidad de nuestros usuarios revisar esta p&aacute;gina cada cierto tiempo, pudiendo
hacer sus comentarios. Esta pol&iacute;tica de privacidad es efectiva a partir del
01.02.2016</span></p>

<p ><b><span
style='font-size:14.0pt'>Lo que pedimos</span></b></p>

<p >Podr&iacute;amos
solicitar la siguiente informaci&oacute;n:</p>

<ul>
<li>E-Mail.</li>
<li>RUT.</li>
<li>N&uacute;mero de Teléfono M&oacute;vil y Fijo.</li>
<li>C&oacute;digo de validaci&oacute;n espec&iacute;fico de cada empresa seg&uacute;n servicio seleccionado.</li>
</ul>

<p ><b><span
style='font-size:14.0pt'>Qué hacemos con la informaci&oacute;n que recibimos:</span></b></p>

<p>Requerimos de
esta informaci&oacute;n por los siguientes motivos:</p>

<ul>
<li>Registro interno de usabilidad.</li>
<li>Contacto para env&iacute;o de informaci&oacute;n relacionada con la aplicaci&oacute;n.</li>
<li>Validaci&oacute;n de formulario de cliente para obtenci&oacute;n de n&uacute;mero de atenci&oacute;n.</li>
</ul>

<p ><b><span
style='font-size:14.0pt'>Seguridad</span></b></p>

<p >Estamos
comprometidos en asegurar que la informaci&oacute;n entregada sea segura. Para poder
prevenir que haya ingresos de externos sin autorizaci&oacute;n, hemos puesto elementos
de seguridad, tanto f&iacute;sicas, como electr&oacute;nicas sobre nuestros sistemas, de
manera de salvaguardar y proteger la informaci&oacute;n que recibimos en l&iacute;nea.</p>

<p ><b><span
style='font-size:14.0pt'>C&oacute;mo utilizamos las cookies</span></b></p>

<p >Utilizamos estas
cookies para reconocer qué empresas est&aacute;n siendo solicitadas. Esto nos ayuda a
analizar la data de las transacciones realizadas y asegurar que los servicios
se encuentren disponibles. <b> </b></p>

<p >Los datos
entregados para identificaci&oacute;n al momento de obtener un n&uacute;mero de atenci&oacute;n no
son almacenados en nuestro sistema, sino que traspasados de forma directa a la
empresa emisora de n&uacute;meros.</p>

<p ><b><span
style='font-size:14.0pt'>Links a otras aplicaciones o sitios web</span></b></p>

<p >SuTurno M&oacute;vil
puede contener links para otras aplicaciones o sitios web terceros. De todas
maneras, una vez seleccionado el link, SuTurno M&oacute;vil no tiene control sobre los<b>
</b>sitios o aplicaciones terceras, por lo que no se hace responsable del
contenido o cualquier informaci&oacute;n provista en estos. </p>

<p ><b><span
style='font-size:14.0pt'>Control de la informaci&oacute;n personal</span></b></p>

<p >SuTurno M&oacute;vil no
vende, ni distribuye la informaci&oacute;n personal entregada a terceros, y solo es
traspasada a la empresa emisora de n&uacute;meros de atenci&oacute;n para motivos propios. </p>

<p >En caso que se
considere que cualquier informaci&oacute;n de registro entregada anteriormente es incorrecta,
se puede enviar un mail señalado en la secci&oacute;n de informaci&oacute;n de contacto m&aacute;s
abajo.</p>

<p ><b><span
style='font-size:14.0pt'>Contacto</span></b></p>

<p >Cualquier duda
individual acerca de esta pol&iacute;tica de privacidad, informaci&oacute;n personal entregada,
sus usos o retenci&oacute;n por parte de SuTurno M&oacute;vil o TotalPack, por favor ponerse
en contacto al siguiente:</p>

<p  style='margin-top:13.45pt;margin-right:0cm;margin-bottom:
0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;line-height:15.0pt'><b>TotalPack
Ltda.</b></p>

<p  style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'>San Ignacio de Loyola 1538</p>

<p  style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'>Santiago, Chile</p>

<p  style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'>Teléfono: +56 2 25545700</p>

<p  style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'>E-Mail: m&oacute;vil@suturno.cl</p>

<p  style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'>Web: www.suturno.cl</p></div>