<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html ng-app="turnoMovil">
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta name="google-signin-client_id" content="757562737845-34c463p35bf5fq4crfctieioblhbki4n.apps.googleusercontent.com">
        <title>Su Turno Móvil</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="css/my.css">


        <link rel="stylesheet" href="jq/jquery.mobile-1.4.5.min.css">
        <link rel="shortcut icon" href="favicon.png">

        <script src="jq/jquery.min.js"></script>
        <script src="jq/jquery.mobile-1.4.5.min.js"></script>
        
        <script src="js/sweetAlert2/sweetalert2.js"></script>
        <link rel="stylesheet" type="text/css" href="js/sweetAlert2/sweetalert2.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="config.js"></script>

        <script type="text/javascript" src="js/validaciones.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">

    </head>
    <body id="mainControl" ng-controller="mainCtrl" oncontextmenu="return false;">
        
        <input type="hidden" id="conectado" name="conectado" ng-model="estado_conexion" value="">
        <input type="hidden" id="showBotVolver" ng-model="showBotVolver">
        
        <!-- no borrar este codigo -->
        <div class="app" style="display: none;">
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>

        <!-- Empresas disponibles -->
        <div id="servicios" data-role="page" data-cache="true" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel">
              <br><br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="!logeado" class="boton_azul" data-toggle="modal" ng-click="reset('false')" data-target="#MyModal">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
              <!-- login  ng-click="login()"-->
              <!-- <button ng-click="goInicio()" class="boton_azul">Inicio</button> -->
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false" class="ultimaAtencionDiv">
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><i class="fa" aria-hidden="true"></i></a>
            <a id="hamburgerMenu" href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Su Turno Móvil {{test}}</h1> 

            <div ng-show="showUltimaAtencion && logeado" ng-click="showUltimaAtencionBoton()" class="ultima_atencion">
                <img src="images/reloj.png" height="13px"> Mi último Número
            </div>
          </div>

          <div role="main" class="ui-content" data-src='code_1'>
              <div id='wrapper'>
                  <div ng-repeat="row in servicios track by $index">
                    <div ng-if="row.rubro!=''" class='rowServicioTit'>{{row.rubro}}</div>
                    <div ng-if="row.rubro==''" data-role="button" class="rowServicio tableado" ng-click="servicioClick(row.empresa_id, row.id, row.logo, row.nombre)">
                      <img ng-if="row.logo" src="{{row.logo_data}}" height="32px">
                      <img src="img/forward.png" height="15px" class="rowServicio_r">
                    </div>
                  </div>
              </div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
              <h4>Seleccione una institución</h4>
          </div>
        </div>

        <!-- Servicios de la empresa -->
        <div data-role="page" id="detalles" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel2">
                <br>
                <center>Su Turno Móvil</center>
                <button ng-show="logeado" ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-show="!logeado" class="boton_azul" data-toggle="modal" ng-click="reset('false')" data-target="#MyModal">Login</button>
                <button ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>

            <div data-role="header" data-position="fixed" style="overflow:hidden;" data-tap-toggle="false">
                <a href="/#empresas" ng-click="goEmpresas()" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a id="hamburgerMenu" href="/#mypanel2" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno Móvil</h1>
            </div>

            <div role="main" class="ui-content">

                <img src="{{logo}}" height="32px">
                <div class="rowServicioTit">Servicios</div>
                <!-- <div class="pulltorefresh"></div> -->
                
                  <table class="tabla_listas">
                  <tr ng-repeat="row2 in servicios_empresa track by $index" ng-click="sucursalesClick(row2.id, servicio_id_actual, row2.nombre)">
                      <td width="90%">{{row2.nombre}}</td>
                      <td><img src="img/forward.png" height="17px;"></td>
                  </tr>
                  </table>

            </div>

            <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-tap-toggle="false">
                <h4>Seleccione un Servicio</h4>
            </div>
        </div>

        <!-- Sucursales del servicio -->
        <div data-role="page" id="sucursales" data-theme="a" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel3">
              <br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="!logeado" class="boton_azul" data-toggle="modal" ng-click="reset('false')" data-target="#MyModal">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" style="overflow:hidden;">
            <a ng-click="goDetalles" href="#detalles" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a id="hamburgerMenu" href="/#mypanel3" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Su Turno Móvil</h1>
          </div>

          <div role="main" class="ui-content">

            <img ng-if="logo" src="{{logo}}" height="32px">
            <div class="rowServicioTit">{{servicio_actual}}</div>

            <div ng-repeat="(key, row3) in direcciones track by $index">
              <div class="rowServicio2 tableado" ng-click="direccionClick(key, row3, row3.credenciales, row3.muestraTee)">
                <!-- <img src="img/forward.png" height="7px" class="rowServicio_r"> -->
                <div class="izquierda">
                    <b>{{row3.nombre}}</b><br>
                    <div class="pequeno">
                        {{row3.direccion}}
                    </div>
                </div>
                <div class="derecha">
                    <div class="pequeno">
                        <span ng-if="row3.muestraTee==true && row3.tee>=0 && row3.tee<=5">Espera* <5m</span>
                        <span ng-if="row3.muestraTee==true && row3.tee>=6">Espera* {{row3.tee}}m</span>
                        <span ng-if="row3.muestraTee==true && row3.tee==-1">F/H</span>
                        <!-- <span ng-if="!row3.tee">N/D</span> -->
                        <br>
                        <span ng-if="row3.distancia>=0.1">{{row3.distancia | number: 2}} kms</span> 
                        <span ng-if="row3.distancia<0.1">En sucursal</span> 
                    </div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Seleccione Sucursal<br>* Tiempo estimado de espera</h4>
          </div>
        </div>

        

        <!-- ticket -->
        <div data-role="page" id="ticket" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel5">
                <br>
                <center>Su Turno Móvil</center>
                <button ng-show="logeado" ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-show="!logeado" class="boton_azul" data-toggle="modal" ng-click="reset('false')" data-target="#MyModal">Login</button>
                <button ng-show="showBotVolver" ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>

            <div data-role="header" data-position="fixed" style="overflow:hidden;">
                <a ng-click="actualizaDirecciones()" ng-show="showBotVolver" id="volver" href="#sucursales" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a id="hamburgerMenu" href="/#mypanel5" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno Móvil</h1>
            </div>

          <div id="main_ticket" role="main" class="ui-content alto_ticket" style="background-color: white;">
            <div class="barra_azul">
              <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1" ng-click="goTicket()"><span><br>{{miNumero}}</span></div>
              <img ng-if="logo" src="{{logo}}" height="32px">
            </div>
            <div style="clear: both;"></div>
            <div class="datos_empresa">
              <div style="float: right;">
                  <span ng-if="muestraTee" class="pequeno">Espera:{{tee}}&nbsp;</span><br ng-if="muestraTee">
                  <span ng-if="distanciaActual>=0.1" class="pequeno">{{distanciaActual | number: 2}} kms</span> 
                  <span ng-if="distanciaActual<0.1" class="pequeno">En sucursal</span> 
              </div>
              <div style="float: left;">
                <span><b>{{direccion_actual.nombre}}</b></span><br>
                <span class="pequeno">{{direccion_actual.direccion}}</span>
              </div>
            </div>
            <div ng-show="(mensaje1!=''&&mensaje1!=null)||(mensaje2!=''&&mensaje2!=null)" class="barra_azul1" style="margin:-4px;">
                <center>{{mensaje1}}<br>{{mensaje2}}</center>
            </div>
            <!-- cuatro columnas -->
            <div ng-show="showTicket">
                <div data-role="tabs" id="tabs" style="margin:-5px;">
                    <div data-role="navbar" id="navbar" class="barras">
                        <ul>
                          <li><a id="t1" ng-click="pestanaActual('t1')" href="#oficina" data-ajax="false" class="ui-btn-active"><span class="pequeno_tab">Oficina</span></a></li>
                          <li><a id="t2" ng-click="pestanaActual('t2')" href="#miNumero" data-ajax="false"><span class="pequeno_tab">Su número</span></a></li>
                          <li><a id="t3" ng-click="pestanaActual('t3')" href="#ubicacion" data-ajax="false"><span class="pequeno_tab">Ubicación</span></a></li>
                          <li><a id="t4" ng-click="pestanaActual('t4')" href="#galeria" data-ajax="false"><span class="pequeno_tab">Galería</span></a></li>
                        </ul>
                    </div>
                    <div id="oficina">
                        <div class="tabla">
                        <table ng-show="horario.length>0">
                            <thead>
                                <tr><td colspan="3" style="border: solid #fff 1px;"><table><tr><td><div style="width:100%; text-align: center; font-size: 25px; padding-top: 15px; padding-bottom: 15px;">Horarios de Atención</div></td><td> <img src="icon.png" height="35px"></td></tr></table></td>
                                <tr>
                                    <td class="col_dias" style="border: solid #fff 1px;">Días</td>
                                    <td class="col_inicio" style="border: solid #fff 1px;">Inicio</td>
                                    <td class="col_fin" style="border: solid #fff 1px;">Fin</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row4 in horario track by $index">
                                <tr>
                                  <td class="dato_dias" rowspan="{{row4.Horas.length + 1}}" style="border: solid #fff 1px;">{{row4.Dia}}</td>
                                </tr>
                                <tr ng-repeat="row44 in row4.Horas track by $index">
                                  <td class="dato_inicio" style="border: solid #fff 1px;">{{row44.Inicio}}</td>
                                  <td class="dato_fin" style="border: solid #fff 1px;">{{row44.Fin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    <!-- <div id="miNumero">
                          <iframe id="contenedor_ticket" ng-src="ticket.html" frameborder="0"></iframe>
                    </div> -->
                    
                    <!-- inicio Sección información del ticket -->
                    <div id="miNumero" class="ui-content">
                      <div style="position: fixed;bottom: 4em; width: 100%; z-index: 100;">
                        <div class="col_ticket_l"><img src="reloj.gif" width="25px"><br><span class="tAzul">Estimado</span><br><span class="tRojo">{{menos_de}} {{tee2}}</span></div>
                        <div class="col_ticket_r"><img src="logoespera.png" height="25px"><br><span class="tAzul">Atendiendo</span><br><span class="tRojo">{{letraServicioActualTurnoActual}}</span></div>
                      </div>
                      <div class="col_ticket2">
                        <img src="images/boleta2.png" class="imagenBoleta" alt="">
                        <div class="col_ticket_texto">{{miNumero}}</div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <!-- Fin  Sección información del ticket -->

                    <div id="ubicacion" class="ui-body-d ui-content">
                        <div id="divMap" style="height:95%; width:100%;max-width:100%;">
                            <iframe id="mapa_cont" style="height:95%;width:100%;border:0;" frameborder="0" ng-src="{{programa_mapa_ticket}}"></iframe>
                        </div>
                    </div>
                    <div id="galeria" class="ui-body-d ui-content">
                        <img src="{{galeria}}" width="100%;">
                    </div>
                </div>
            </div> <!-- cuatro columnas -->
            <!-- tres columnas -->
            <div ng-show="!showTicket">
                <div data-role="tabs" id="tabs2" style="margin:-5px;">
                    <div data-role="navbar" id="navbar2" class="barras">
                        <ul>
                          <li><a id="t5" ng-click="pestanaActual('t5')" href="#oficina2" data-ajax="false" class="ui-btn-active"><span class="pequeno_tab">Oficina</span></a></li>
                          <li><a id="t6" ng-click="pestanaActual('t6')" href="#ubicacion2" data-ajax="false"><span class="pequeno_tab">Ubicación</span></a></li>
                          <li><a id="t7" ng-click="pestanaActual('t7')" href="#galeria2" data-ajax="false"><span class="pequeno_tab">Galería</span></a></li>
                        </ul>
                    </div>
                    <div id="oficina2">
                        <div class="tabla">
                        <table ng-show="horario.length>0">
                            <thead>
                                <tr><td colspan="3" style="border: solid #fff 1px;"><table><tr><td><div style="width:100%; text-align: center; font-size: 25px; padding-top: 15px; padding-bottom: 15px;">Horarios de Atención</div></td><td> <img src="icon.png" height="35px"></td></tr></table></td>
                                <tr>
                                    <td class="col_dias" style="border: solid #fff 1px;">Días</td>
                                    <td class="col_inicio" style="border: solid #fff 1px;">Inicio</td>
                                    <td class="col_fin" style="border: solid #fff 1px;">Fin</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row4 in horario track by $index">
                                <tr>
                                  <td class="dato_dias" rowspan="{{row4.Horas.length + 1}}" style="border: solid #fff 1px;">{{row4.Dia}}</td>
                                </tr>
                                <tr ng-repeat="row44 in row4.Horas track by $index">
                                  <td class="dato_inicio" style="border: solid #fff 1px;">{{row44.Inicio}}</td>
                                  <td class="dato_fin" style="border: solid #fff 1px;">{{row44.Fin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div id="ubicacion2" class="ui-body-d ui-content">
                        <div id="divMap2" style="height:95%; width:100%;max-width:100%;">
                            <iframe id="mapa2_cont" style="height:95%;width:100%;border:0;" frameborder="0" ng-src="{{programa_mapa}}"></iframe>
                        </div>
                    </div>
                    <div id="galeria2" class="ui-body-d ui-content">
                        <img src="{{galeria}}" width="100%;">
                    </div>
                </div>
            </div>
        </div><!-- tres columnas -->

        <div ng-show="showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <center>
              <img ng-click="reset('true')" ng-disabled="bloqueaTomaNumero" ng-src="img/tomar_numero.png" width="95%" >
            </center>
          </div>
        <div ng-show="!showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
          <div id="wrap">
            <div class="boton_azul" ng-disabled="bloqueaCancelar" ng-click="popUpCancelar()"><span>Cancelar</span></div>
            <div class="boton_espacio"></div>
            <div class="boton_azul" ng-disabled="bloqueaMeAtendieron" ng-click="popUpMeAtendieron()"><span>Me atendieron</span></div>
          </div>
        </div>

        </div><!-- datos del servicio seleccionado -->

        <!-- Solicitud de parametros al tomar numero -->
        <div data-role="page" id="pideNumero" data-theme="a" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel4">
              <br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="!logeado" class="boton_azul" data-toggle="modal" ng-click="reset('false')" data-target="#MyModal">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" style="overflow:hidden;">
              <a href="#ticket" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
              <a id="hamburgerMenu" href="/#mypanel4" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
              <h1>Su Turno Móvil</h1>
          </div>

          <div role="main" class="ui-content">

              <img src="{{logo}}" height="32px">
              <div class="rowServicioTit">Ingrese los siguientes datos</div>
              <br>
              <div ng-form>
                  <div style="width:80%;padding:30px;">

                    <div ng-if="sRut==true">{{tRut}}<br><input type='text' ng-model='formu.userRut' class='form-control' placeholder='12345678-K' style="width:100%;" required></div>
                    <div ng-if="sCel==true">{{tCel}}<br><input type='number' string-to-number ng-model='formu.numCelular' class='form-control' placeholder='98765432' style="width:100%;" required></div>
                    <div ng-if="sFij==true">{{tFij}}<br><input type='number' string-to-number ng-model='formu.numFijo' class='form-control' placeholder='221234567' style="width:100%;" required></div>
                    <div ng-if="sOrd==true">{{tOrden}}<br><input type='number' string-to-number ng-model='formu.numOrden' class='form-control' placeholder='1200000000' style="width:100%;" required></div>
                  
                    <br>
                    <div id="tomaNumeroAcc" class="boton_azul" ng-click="tomaNumero2()" style="width:90%; margin:0 auto;">Tomar número</div>
                  </div>
              </div>

          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Solicitud número de atención</h4>
          </div>
        </div> <!-- pagina final -->

        <!-- miUltimoNumero -->
        <div data-role="page" id="miUltimoNumero" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel8">
              <br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado" ng-click="goLogout()" class="boton_azul">Logout</button>
              <!--<button ng-show="!logeado" ng-click="goAuth()" class="boton_azul">Login</button>-->
              <button ng-show="!logeado" class="boton_azul" data-toggle="modal" ng-click="reset('false')" data-target="#MyModal">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <a href="#servicios" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a id="hamburgerMenu" href="/#mypanel8" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Mi último Número</h1> 
          </div>

          <div role="main" class="ui-content">
              <!-- datos ultima atencion -->
              
                <div class="barra_azul">
                  <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1"><div style="height:10px;"></div><span>{{ultimaAtencion.miNumero}}</span></div>
                  <img ng-show="ultimaAtencion.logo" src="{{ultimaAtencion.logo}}" height="32px">
                </div>
                <div style="clear: both;"></div>
                <div class="datos_empresa">
                  <div style="float:right;text-align: right;">
                    <span class="pequeno">Fecha: {{ultimaAtencion.date | date:'dd/MM'}}</span>&nbsp;<br>
                    <span class="pequeno">Hora: {{ultimaAtencion.date | date:'HH:mm'}}</span>&nbsp;
                  </div>
                  <div style="float: left;">
                    <span><b>{{ultimaAtencion.direccion_actual.nombre}}</b></span><br>
                    <span class="pequeno">{{ultimaAtencion.direccion_actual.direccion}}</span>
                  </div>
                </div>  
                <div class="barra_azul1">
                    <center style="font-size:14;">Este es tu último N&deg; tomado;<br>Preséntalo en caso de ser necesario</center>
                </div>
                <!-- <div class="col_ticket2">
                  <div style="margin-bottom:5px;font-size:18px;padding:5px;width:100%;text-align:center;">{{ultimaAtencion.servicio}}</div><br>
                  <div class="col_ticket_l"><span class="tAzul">Fecha</span><br><span class="tRojo">{{ultimaAtencion.date | date:'dd-MM-yyyy'}}</span></div>
                  <div class="col_ticket_r"></div>
                  <div class="col_ticket_texto"><br>{{ultimaAtencion.miNumero}}</div>
                </div> -->

                <div id="miNumero" class="ui-content">
                    <div style="position: fixed;bottom: 46px; width: 100%; z-index: 100;">
                      <div class="col_ticket_l"><span class="tAzul">Fecha</span><br><span class="tRojo">{{ultimaAtencion.date | date:'dd-MM-yyyy'}}</span></div>
                      <div class="col_ticket_r"><span class="tAzul">Hora</span><br><span class="tRojo">{{ultimaAtencion.date | date:'HH:mm'}}</span></div>
                    </div>
                    <div style="font-size:18px;padding:5px;width:100%;text-align:center;">{{ultimaAtencion.servicio}}</div><br>
                    <div class="col_ticket2">
                      <img src="images/boleta2.png" class="imagenBoleta" alt="">
                      <div class="col_ticket_texto">{{ultimaAtencion.miNumero}}</div>
                    </div>
                    <div class="clear"></div>
                </div>
            
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h5>*Este N&deg; ya pudo haber sido llamado</h5>
          </div>
        </div>

        <!-- termino y condiciones -->
        <div data-role="page" id="condiciones" data-transition="slidefade">

          <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <!-- <a href="/#login" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a> -->
            <!-- <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a> -->
            <h1>Terminos y Condiciones</h1> 
          </div>

          <div role="main" class="ui-content">
              <div class="condiciones" id="condiciones_cont"></div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div id="wrap">
              <!--cerrar-->
              <div  ng-click="goInicioModal()" class="boton_azul">Cerrar</div>
            </div>
          </div>
        </div> <!-- termino y condiciones -->

<!-- Modal -->
<div id="MyModal">
<div class="modal fade" data-backdrop="static" id="myModalInner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div id="Myid" class="modal-dialog anchoModal"  role="document">
    <div class="modal-content row">
      <div ng-show="vistaInicio">
      <div class="container">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #808080;"><span aria-hidden="true">&times;</span></button>
      </div>
        <div class="container">
          <div class="row">
            <br></br>
            <img src="images/imagenInicio.jpg" alt="" class="imagenboleta col-md-12 col-xs-12 text-center">
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
              <h4>Inicia sesión para</h4>
            </div>
          </div>
          <div class="row">
            <h4 class="col-md-12 col-xs-12 text-center">tomar tu turno</h4>
            <br><br><br><br><br><br>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="row">
              <div class="col-2 col-sm-4 col-md-4">
              </div>
              <div class="col-8 col-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
                <button type="button" class="btn btn-lg btn-block btn-primary botonRectangular" ng-click="inicioModal()">Iniciar Sesión</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-2 col-sm-4 col-md-4"></div>
              <div class="col-8  col-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
                <button type="button" class="btn btn-lg btn-block btn-secondary botonRectangular" ng-click="registroModal()">Registrarse</button>
              </div>
            </div>
          </div>
          <div class="form-group margenModal">
            <div class="row"></div>
          </div>
        </div>
      </div>
      
      <!-- Modal iniciar sesión credenciales de acceso -->
      <div ng-show="vistaCredenciales">
        <div class="container">
          <br>
          <img ng-click="reset('false')" src="img/back.png" height="22px">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #808080;"><span aria-hidden="true">&times;</span></button>
        </div>
        <div ng-show="vistaCredenciales" class="container">
          <div class="row">
            <img src="images/imagenInicio.jpg" alt="" class="imagenboleta col-md-12 col-xs-12 text-center">
          </div>
          <div class="">
            <div class="form-group">
              <label for="inputEmail" class="col-lg-7 col-md-7 col-7 control-label">Email</label>
              <div class="col-lg-12 col-md-12 col-12">
                <input type="text" ng-model="correo" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-7 control-label">Contraseña</label>
              <div class="col-lg-12">
                <input type="password" ng-model="contrasena" class="form-control" id="inputPassword" placeholder="Contraseña">
              </div>
            </div>
            <br><br><br><br>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="row">
              <div class="col-2 col-sm-4 col-md-4">
              </div>
              <div class="col-8 col-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
                <h6 ng-click="enviaNuevaPass()" ng-show="errorClave" style="color: blue;">¿Recuperar clave?</h6>
                <button type="button" class="btn btn-lg btn-block btn-primary botonRectangular" ng-click="iniciarSesion()">Iniciar Sesión</button>
              </div>
            </div>
          </div>
          <div class="form-group margenModal">
            <div class="row"></div>
          </div>
        </div>
      </div>

      <!-- Modal registrarse -->
      <div ng-show="vistaRegistrarse">
        <div class="container">
          <br>
          <img ng-click="reset('false')" src="img/back.png" height="22px">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #808080;"><span aria-hidden="true">&times;</span></button>
        </div>
        <div ng-show="vistaRegistrarse" class="container">
          <div class="row">
            <img src="images/imagenInicio.jpg" alt="" class="imagenboleta col-md-12 col-xs-12 text-center">
          </div>
          <div class="">
            <div class="form-group">
              <label for="inputEmail" class="col-lg-7 col-md-7 col-7 control-label">Email</label>
              <div class="col-lg-12 col-md-12 col-12">
                <input type="text" ng-model="correo" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-7 control-label">Contraseña</label>
              <div class="col-lg-12">
                <input type="password" ng-model="contrasena" class="form-control" id="inputPassword" placeholder="Contraseña">
              </div>
            </div>
            <br><br><br><br>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="row">
              <div class="col-2 col-sm-4 col-md-4">
              </div>
              <div class="col-8 col-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
                <h6 ng-click="condicionesModal()" style="color: blue;">Acepto los terminos y condiciones</h6>
                <button type="button" class="btn btn-lg btn-block btn-primary botonRectangular" ng-click="registrarse()">Registrarme</button>
              </div>
            </div>
          </div>
          <div class="form-group margenModal">
            <div class="row"></div>
          </div>
        </div>
      </div>

      <!-- Modal recuperar clave-->
        <div ng-show="vistaRecuperarClave">
          <div class="container">
            <br>
            <img ng-click="inicioModal()" src="img/back.png" height="22px">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #808080;"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="container">
            <div class="row">
              <img src="images/imagenInicio.jpg" alt="" class="imagenboleta col-md-12 col-xs-12 text-center">
            </div>
            <div class="">
              <div class="form-group">
               <h4 class="text-center">Recuperar Clave</h4>
              </div>
              <div class="form-group">
              <h5 class="text-center">Hemos enviado un mail con <br>una nueva contraseña para <br> iniciar sesión</h5>     
              </div>
              <br><br><br><br>
            </div>
          </div>
          <div class="container">
            <div class="form-group">
              <div class="row">
                <div class="col-2 col-sm-4 col-md-4">
                </div>
                <div class="col-8 col-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 text-center">
                  <button type="button" ng-click="inicioModal()" class="btn btn-lg btn-block btn-primary botonRectangular">Volver</button>
                </div>
              </div>
            </div>
            <div class="form-group margenModal">
              <div class="row"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Modal vista 3 vista3 -->

      
    


        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <!-- bootstrap -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
<script src="js/pull2refresh.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#MyModal").on('hidden.bs.modal', function () {

      var scope = angular.element(document.getElementById('mainControl')).scope();
      if(scope.logeado == 'true'){
        document.getElementById('hamburgerMenu').click();
      } 
      
      angular.element(document.getElementById('Myid')).scope().$apply(function(scope){
        scope.vistaInicio = true;
        scope.vistaCredenciales = false;
      });
    });
});
</script>

<script type="text/javascript">
    var h = window.screen.availHeight;
    var w = window.screen.availWidth;
    
    $(".wrapper").css("width", w);

    var viewPortHeight = $(window).height();
    var headerHeight = $('div[data-role="header"]').height();
    var footerHeight = $('div[data-role="footer"]').height();
    var contentHeight = viewPortHeight - headerHeight - footerHeight + 100;

    // Set all pages with class="page-content" to be at least contentHeight
    // $('div[class="ui-content"]').css({'min-height': contentHeight + 'px'});
    $("#miNumero").css('min-height', contentHeight + 'px');
    $("#main_ticket").css('min-height', contentHeight + 'px');
    $(".alto_ticket").css('min-height', contentHeight - 10 + 'px');
    $(".col_ticket").css('min-height', contentHeight *0.65 + 'px');
    //$(".col_ticket2").css('min-height', contentHeight *0.65 + 'px');

    $("#condiciones_cont").load("condiciones.html");
    $("#nav").css("height", h - 240);

    $(document).ready( function() {
        $("#divMap").css("width", "100%");
        $("#divMap").css("height", h -240);
        $("#divMap2").css("width", "100%");
        $("#divMap2").css("height", h -240);
    });

    // $("a").click(function(event) {
    //     event.preventDefault();
    // });

    // var yant = window.pageYOffset;
    // $(document).on('scrollstop', function() {
    //     console.log("debo actualizar");
    //     if(window.pageYOffset == 0 && ) {
            
    //     }
    //     yant = window.pageYOffset;
    // });

    $("#swipe_cont").hide();
    // var yant = 0;
    // $(document).on("scrollstart",function(){
    //   $("#swipe_cont").show();
    // });

    // $(document).on("scroll",function() {
    //     // $("#swipe_cont").css('height', window.pageYOffset);
    //     if(window.pageYOffset == 0 && yant < window.pageYOffset) {
    //         console.log("debo actualizar");
    //         $("#swipe_cont").css('height', 150);
    //     }
    //     console.log(window.pageYOffset);
    //     yant = window.pageYOffset;
    // });

    // $(document).on("scrollstop",function() {
    //     if(window.pageYOffset == 0) {
    //       // console.log("debo actualizar");
    //       setTimeout(function() {
    //         $("#swipe_cont").hide();  
    //       }, 1000);
    //     }
    // });

</script>