<!DOCTYPE html>
<html ng-app="turnoMovil">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, target-densitydpi=medium-dpi, user-scalable=0" />
  <meta name="misapplication-tap-highlight" content="no"/>
  <title>Su Turno Movil</title>
  <link rel="stylesheet" href="jq/jquery.mobile-1.4.5.min.css">
  <link rel="shortcut icon" href="favicon.png">

  <script type="text/javascript" src="js/index.js"></script>

  <script src="jq/jquery.min.js"></script>
  <script src="jq/jquery.mobile-1.4.5.min.js"></script>

  <script type="text/javascript" src="js/angular/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="config.js"></script>

  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script type="text/javascript" src="js/validaciones.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body ng-controller="mainCtrl">

<!-- Login -->
<div data-role="page" id="login">
  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <h1>Su Turno Móvil</h1>
  </div>
  <div role="main" class="ui-content">
    
    <center>
      <img src="icon.png" width="120px">
    </center>
    <div class="ui-btn ui-icon-alert ui-btn-icon-left ui-shadow ui-corner-all" ng-show="showMsg">
      {{msg}}
    </div>
    <form>
        <input type="email" class="form-control" ng-model="form.username" auto-fill-sync placeholder="Correo electr&oacute;nico">
        <input type="password" class="form-control" ng-model="form.password" auto-fill-sync placeholder="Password">
        <br>
        <button ng-click="submitLogin()" class="btn btn-success">Iniciar sesi&oacute;n</button>
        <button id="submitRegister" class="btn btn-primary">Registrarse</button>
    </form>
    <br>
    <button id="submitTerminos" class="btn btn-primary">Leer t&eacute;rmino y condiciones de servicio</button>
    <br>
    <div class="barra_azul1">
      <table align="center">
          <tr>
              <td><a href="#" ng-click="loginGoogle()"><img src="img/google.png" width="60px"></a></td>
              <!-- <td>&nbsp;</td>
              <td><a href="#" ng-click="loginFaceBook()"><img src="img/facebook.png" width="60px"></a></td> -->
          </tr>
      </table>
    </div>
  </div>
</div>

<!-- Empresas disponibles -->
<div data-role="page" id="servicios" data-transition="slidefade">

  <div data-role="panel" data-position="right" id="mypanel">
      <button ng-click="goLogout()" class="ui-btn">Logout</button>
      <button ng-click="goInicio()" class="ui-btn">Inicio</button>
  </div>

  <div data-role="header" data-position="fixed" data-tap-toggle="false">
    <a href="/#mypanel" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-right ui-btn-icon-notext">Bars</a>
    <h1>Su Turno Móvil</h1> 
  </div>

  <div role="main" class="ui-content">
    
    <div ng-show="ultimaAtencion.miNumero!=='undefined'&&ultimaAtencion.miNumero!=='---'" ng-click="showUltimaAtencionBoton()"class="ultima_atencion">
      <img src="img/info.png" width="18px"> Mi Último Número
    </div>
    <!-- datos ultima atencion -->
    <div ng-show="showUltimaAtencion" id="miNumero" class="ui-body-d ui-content">
        <div>
          <div class="barra_azul"><img ng-if="ultimaAtencion.logo" src="{{ultimaAtencion.logo}}" height="40px"></div>
          <div ng-show="ultimaAtencion.miNumero!='---'" class="azul_fondo_logo_r circleBase type1">{{ultimaAtencion.miNumero}}</div></td>
        </div>
        <div style="clear: both;"></div>
        <table class="ui-body-d ui-responsive">
        <tbody>
          <tr>
            <td><b>{{ultimaAtencion.direccion_actual.nombre}}</b></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>{{ultimaAtencion.direccion_actual.direccion}}</td>
            <td>&nbsp;</td>
          </tr>
          </tbody>
        </table>
        <div class="barra_azul1">
          <b>{{ultimaAtencion.mensaje1}}</b><br>{{ultimaAtencion.mensaje2}}
        </div>
        <div class="col_ticket">
          <div class="col_ticket_l"></div>
          <div class="col_ticket_c2"><br><br><br><br>{{ultimaAtencion.miNumero}}</div>
          <div class="col_ticket_r"></div>
        </div>
        <br><br><br>
    </div>

    <!-- <div class="buscador"><input type="search" ng-model="filtro" placeholder="Buscar empresa..."></div> -->
    <div ng-repeat="row in servicios"> <!--  | filter: filtro -->
      <div ng-if="row.rubro!=''" class='rowServicioTit'>{{row.rubro}}</div>
      <div ng-if="row.rubro==''" data-role="button" class="rowServicio" ng-click="servicioClick(row.empresa_id, row.id, row.logo)">
        <img ng-if="row.logo" title="{{row.nombre}}" src="{{row.logo}}" height="40px">
        <img src="img/forward.png" height="15px" class="rowServicio_r">
      </div>
    </div>
    
  </div>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <h4>Seleccione servicio</h4>
  </div>
</div>

<!-- Servicios de la empresa -->
<div data-role="page" id="detalles" data-theme="a" data-transition="slidefade">

  <div data-role="panel" data-position="right" id="mypanel2">
      <button ng-click="goLogout()" class="ui-btn">Logout</button>
      <button ng-click="goInicio()" class="ui-btn">Inicio</button>
  </div>

  <div data-role="header" data-position="fixed" style="overflow:hidden;" data-tap-toggle="false">
    <a href="#servicios" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-notext"></a>
    <a href="/#mypanel2" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext">Bars</a>
    <h1>Su Turno Movil</h1>
  </div>

  <div role="main" class="ui-content">

    <img src="{{logo}}" height="40px">
    <div class="rowServicioTit">Servicios</div>
  
    <div ng-repeat="row2 in servicios_empresa">
      <div class="rowServicio" ng-click="sucursalesClick(row2.id, servicio_id_actual)">
        <img src="img/blanco.png" height="30px;" width="0px">{{row2.nombre}}
        <img src="img/forward.png" height="15px" class="rowServicio_r">
      </div>
    </div>

  </div>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-tap-toggle="false">
    <h4>Seleccione un Servicio</h4>
  </div>
</div>

<!-- Sucursales del servicio -->
<div data-role="page" id="sucursales" data-theme="a" data-transition="slidefade">

  <div data-role="panel" data-position="right" id="mypanel3">
      <button ng-click="goLogout()" class="ui-btn">Logout</button>
      <button ng-click="goInicio()" class="ui-btn">Inicio</button>
  </div>

  <div data-role="header" data-position="fixed" style="overflow:hidden;">
    <a href="#detalles" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-notext"></a>
    <a href="/#mypanel3" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext">Bars</a>
    <h1>Su Turno Movil</h1>
  </div>

  <div role="main" class="ui-content">

    <img ng-if="logo" src="{{logo}}" height="40px">
    <div class="rowServicioTit">Sucursales</div>

    <div ng-repeat="row3 in direcciones">
      <div class="rowServicio2" ng-click="direccionClick(row3, row3.credenciales)">
        <b>{{row3.nombre}}</b><br>
        {{row3.direccion}}<br>
        {{row3.distancia}}kms - Espera* {{row3.tee}}m
        <img src="img/forward.png" height="15px" class="rowServicio_r">
      </div>
    </div>

  </div>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <h4>Seleccione sucursal<br>* Tiempo estimado de espera</h4>
  </div>
</div>

<!-- ticket -->
<div data-role="page" id="ticket" data-theme="a" data-transition="slidefade">
  <div data-role="header" data-position="fixed" style="overflow:hidden;">
    <a ng-show="showBotVolver" id="bot_volver" href="#sucursales" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-notext"></a>
    <h1>Su Turno Movil</h1>
  </div>

  <div role="main" class="ui-content">
    <div>
      <div class="barra_azul"><img ng-if="logo" src="{{logo}}" height="40px"> {{miNumero}}</div>
      <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1">{{miNumero}}</div></td>
    </div>
    <div style="clear: both;"></div>
    <div>
      <table class="ui-body-d ui-responsive">
        <tbody>
        <tr>
          <td><b>{{direccion_actual.nombre}}</b></td>
          <td ng-show="tee!=''||tee!=null" style="text-align: right;">Espera:{{tee}}</td>
        </tr>
        <tr>
          <td>{{direccion_actual.direccion}}</td>
          <td>&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="mensaje1!='' || mensaje2!=''" class="barra_azul1">
      <center>{{mensaje1}}<br>{{mensaje2}}</center>
    </div>
    <div data-role="tabs" id="tabs">
      <div data-role="navbar">
        <ul>
          <li><a id="t1" href="#oficina" data-ajax="false" class="ui-btn-active">Oficina</a></li>
          <li ng-show="showTicket"><a id="t2" href="#miNumero" data-ajax="false">Atención</a></li>
          <li><a id="t3" href="#ubicacion" data-ajax="false">Ubicación</a></li>
          <li><a id="t4" href="#galeria" data-ajax="false">Galería</a></li>
        </ul>
      </div>
      <div id="oficina" class="ui-body-d ui-content">
          <!-- oficina - horario -->
          <table ng-if="horario.length>0" data-role="table" id="horario" data-mode="columntoggle" class="ui-body-d ui-responsive" data-column-btn-theme="a" data-column-popup-theme="a">
              <thead>
              <tr><th colspan="3" style="background-color: #ccc;">Horarios de Atención</th> 
              <tr>
                <th>Dias</th>
                <th>Inicio</th>
                <th>Fin</th>
              </tr>
              </thead>
              <tbody ng-repeat="row4 in horario">
                <tr>
                  <td rowspan="{{row4.Horas.length + 1}}">{{row4.Dia}}</td>
                </tr>
                <tr ng-repeat="row44 in row4.Horas">
                  <td>{{row44.Inicio}}</td>
                  <td>{{row44.Fin}}</td>
                </tr>
              </tbody>
          </table>
          <!-- fin horario -->
      </div>  
      <div id="ubicacion" class="ui-body-d ui-content">
          <div id="divMap" style="position:relative; top:0px; left:0px; right:0px; height:30px; background-color:White; "></div> 
      </div>
      <div id="galeria" class="ui-body-d ui-content">
        <img src="{{galeria}}" width="100%;">
      </div>
      
      <div ng-show="showTicket" id="miNumero" class="ui-body-d ui-content">
        <!-- <br><br><br><br><br><br><br> -->
        <div class="col_ticket">
          <div class="col_ticket_l"><br><br><br><br><br><br><br><br><img src="reloj.gif" width="25px"><br><span class="tAzul">Estimado</span><br><span class="tRojo">Menos de {{tee}}</span></div>
          <div class="col_ticket_c"><br><br><br><br>{{miNumero}}</div>
          <div class="col_ticket_r"><br><br><br><br><br><br><br><br><img src="logoespera.png" height="25px"><br><span class="tAzul">Atendiendo</span><br><span class="tRojo">{{letraServicioActual}}{{turnoActual}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
    <center>
      <button class="turno" role="button" ng-click="tomaNumero()"><img src="numero.png" height="15px"> Tomar N&uacute;mero</button>
    </center>
  </div>
  <div ng-show="!showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
    <center>
      <a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b">Cancelar</a>
      <div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:280px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">¿Está seguro que desea cancelar su turno?</h3>
              <a ng-click="cancelaAtencion()" href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Si</a>
              <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Volver</a>
          </div>
      </div>
      <a href="#popupDialog2" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b">Me atendieron</a>
      <div data-role="popup" id="popupDialog2" data-overlay-theme="b" data-theme="a" data-dismissible="false" style="max-width:280px;">
          <div role="main" class="ui-content">
              <h3 class="ui-title">¿Confirma que ya fue atendido?</h3>
              <a ng-click="cancelaAtencion()" href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Si</a>
              <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Volver</a>
          </div>
      </div>
    </center>
  </div>

</div> <!-- datos del servicio seleccionado -->

<!-- Solicitud de parametros al tomar numero -->
<div data-role="page" id="pideNumero" data-theme="a" data-transition="slidefade">

  <div data-role="panel" data-position="right" id="mypanel4">
      <button ng-click="goLogout()" class="ui-btn">Logout</button>
      <button ng-click="goInicio()" class="ui-btn">Inicio</button>
  </div>

  <div data-role="header" data-position="fixed" style="overflow:hidden;">
    <a href="#ticket" class="ui-btn ui-shadow ui-corner-all ui-icon-arrow-l ui-btn-icon-notext"></a>
    <a href="/#mypanel4" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext">Bars</a>
    <h1>Su Turno Movil</h1>
  </div>

  <div role="main" class="ui-content">

    <img src="{{logo}}" height="40px">
    <div class="rowServicioTit">Toma n&uacute;mero<br>Ingrese los siguientes datos:<br></div>
    
    <br>
    <div ng-form>
        <div ng-if="sRut"><label>{{tRut}}</label><input type='text' ng-model='formu.userRut' class='form-control' placeholder='12345678-K' required></div>
        <div ng-if="sCel"><label>{{tCel}}</label><input type='number' ng-model='formu.numCelular' class='form-control' placeholder='98765432' required></div>
        <br>
        <button id="tomaNumeroAcc" class="btn btn-primary" ng-click="tomaNumero2()">Toma n&uacute;mero</button>
    </div>

  </div>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false">
    <h4>Solicitud número atención</h4>
  </div>
</div> <!-- pagina final -->

<!-- <div ng-show="loading" style="z-index: 10000;">
<button class="show-page-loading-msg" data-textonly="false" data-textvisible="false" data-msgtext="" data-inline="true">Un momento</button>
</div> -->

</body>
</html>

<script type="text/javascript" src="js/gps.js"></script>
<script type="text/javascript">

  var h = window.screen.availHeight;

  $(".fondo_ticket").css("height", h * 0.70);
  $(".fondo_ticket").css("scale", 0.70);

  // if (cordova.platformId == 'android') {
  //   StatusBar.backgroundColorByHexString("#333");
  // }

  $(document).on("pagebeforeshow", "#servicios", function () { 
    $("[data-role=listview]").listview("refresh"); 
  });
  $(document).on("pagebeforeshow", "#detalles", function () { 
    $("[data-role=listview]").listview("refresh"); 
  });

  $( document ).on( "click", ".show-page-loading-msg", function() {
      var $this = $( this ),
          theme = $this.jqmData( "theme" ) || $.mobile.loader.prototype.options.theme,
          msgText = $this.jqmData( "msgtext" ) || $.mobile.loader.prototype.options.text,
          textVisible = $this.jqmData( "textvisible" ) || $.mobile.loader.prototype.options.textVisible,
          textonly = !!$this.jqmData( "textonly" );
          html = $this.jqmData( "html" ) || "";
      $.mobile.loading( "show", {
              text: msgText,
              textVisible: textVisible,
              theme: theme,
              textonly: textonly,
              html: html
      });
  })
  .on( "click", ".hide-page-loading-msg", function() {
      $.mobile.loading( "hide" );
  });
</script>

