<style>
html, body {
	margin: 0;
	font-family: Arial;
}
.img_boleta {
	position: fixed;
	bottom: 30px;
	width: 100%;
	text-align: center;
    z-index: 0;
}
.img_boleta img {
	height: 95%;
	left: 0 auto;
}

.miNumero {
	color: red;
	font-size: 25px;
    height: 10em;
    position: relative;
}
.miNumero span {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#reloj {
	left: 15px;
	bottom: 30px;
	position: fixed;
	z-index: 1000;
	text-align: center;
}
#atendiendo {
	right: 15px;
	bottom: 30px;
	position: fixed;
	z-index: 1000;
	text-align: center;
}
.tAzul {
	color: #0489B1;
	font-size: 1em;
}
.tRojo {
	color: red;
	font-size: 1em;
}
div.container4 {
    height: 100%;
    position: relative }
div.container4 span {
	font-size: 25px;
	color: red;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
</style>

<div class="img_boleta">
	<img src="images/boleta2.png">
</div>
<div class="container4">
	<span id="miNumero"></span>
</div>
<!-- <div class="miNumero" id="miNumero"></div> -->
<div id="reloj"><img src="reloj.gif" width="25px"><br><span class="tAzul">Estimado</span><br><span class="tRojo" id="tee">---</span></div>
<div id="atendiendo"><img src="logoespera.png" height="25px"><br><span class="tAzul">Atendiendo</span><br><span class="tRojo" id="ate">---</span></div>

<script src="js/jquery.min.js"></script>
<script type="text/javascript">

	var h = window.screen.availHeight;

	var miNumero = localStorage.getItem("miNumero");
	$("#miNumero").html(miNumero);
	
	var tee = localStorage.getItem("tee2");
	$("#tee").html(tee);

	var letra = localStorage.getItem("letra");
	var numero_actual = localStorage.getItem("numero_actual");
	$("#ate").html(letra + numero_actual);

</script>